@model MvcAdmin.ViewModels.CreateCourseViewModel


<h1 class="page-title">Registrera en ny kurs</h1>
<section class="form-container">
  <form class="form" asp-action="CreateCourse" method="post">
    <div class="form-control">
      <label asp-for="@Model!.Number">Kursnummer</label>
      <input asp-for="@Model!.Number" />
</div>  
    <div class="form-control">
      <label asp-for="@Model!.Title">Titel</label>
      <input asp-for="@Model!.Title" />
    </div>
    <div class="form-control">
      <label asp-for="@Model!.Description">Beskrivning</label>
      <input asp-for="@Model!.Description" />
    </div>
    <div class="form-control">
      <label asp-for="@Model!.Details">Detaljer</label>
      <input asp-for="@Model!.Details" />
    </div>
    <div class="form-control">
      <label asp-for="@Model!.IsVideo">Är detta en videokurs</label>
      <input id="isVideoYes" class="isVideo" type="checkbox" name="isVideo" value=true asp-for="@Model!.IsVideo" />
    </div>
    <div class="form-control">
      <label asp-for="@Model!.Category">Kategori</label><br>
      <label asp-for="@Model!.Category!.Name">Skapa ny kategori om den inte finns i listan nedan</label>
      <input type="text" id="cat_field" value="" />
      <a href='' onclick="this.href='CreateCategory?catName='+document.getElementById('cat_field').value">Lägg till kategori</a><br>
      <label asp-for="@Model!.Category!.Name">Vilken kategori tillhör kursen</label>
      <select class="form-control" asp-items="@ViewBag.Categories" asp-for="@Model!.Category!.Name"></select>
    </div>
    <div class="form-control">
      <label>Kursens längd</label><br>
    </div>
    <div class="divNotVideo">
      <label class="days" asp-for="@Model!.Length!.Days">Antal dagar</label><br>
      <input class="days" asp-for="@Model!.Length!.Days" /><br>
    </div>
    <div class="divIsVideo">
      <label class="hours" asp-for="@Model!.Length!.Hours">Antal Timmar</label><br>
      <input class="hours" asp-for="@Model!.Length!.Hours" /><br>
      <label class="minutes" asp-for="@Model!.Length!.Minutes">Antal minuter</label><br>
      <input class="minutes" asp-for="@Model!.Length!.Minutes" /><br>
    </div>
    <button type="submit" class="btn">Spara</button>
  </form>
</section>
<script src="~/js/editcourse.js"></script>