@{
    ViewBag.PageTitle = "Redigera Kurser";
}

<div class="text-center">
    <h1 class="display-4">Redigera Kurser</h1>
    <p><a asp-controller="Course" asp-action="CreateCourse">Lägg till ny kurs</a></p>
    <p><a asp-controller="Course" asp-action="Category">Lista alla kurser</a></p>
</div>