<h1 class="page-title">Läraren är registrerad!</h1>
<p>Du kan nu gå tillbaka till förstasidan och välja vilka kurser du gå.</p>

<a class="go-back" asp-action="Index" asp-controller="Course"><i class="fa-solid fa-left-long"></i>Gå till förstasidan</a>
