@{
    ViewBag.PageTitle = "Redigera Lärare";
}

<div class="text-center">
    <h1 class="display-4">Redigera Lärare</h1>
    <p><a asp-controller="Teacher" asp-action="CreateTeacher">Lägg till ny lärare</a></p>
    <p><a asp-controller="Teacher" asp-action="GetAllTeachers">Lista alla lärare</a></p>
</div>