@model MvcUser.ViewModels.UserViewModel
@{
  ViewData["Title"] = "Registrerade Kurser";
  int x = 0;
}

<h1>@ViewData["Title"]</h1>

<article>
  <section>
    <table>
        @foreach (var course in Model.UserCourses)
        {
          <tr>
            <td>
              <p>@course.CourseTitle</p>
            </td>
            <td>
              <p><a asp-controller="Student" asp-action="RemoveCourseFromStudent" asp-route-id="@course.CourseId">Ta bort kurs</a></p>
            </td>
          </tr>

          x++;
        }
        @{
          if (x == 0)
          {
            <div>
              <p>Du har inga kurser registrerade.</p>
            </div>
          }
        }
    </table>
  </section>
</article>