
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="~/css/styles.css">
  <title>Document</title>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li>
          @{
            if(MvcUser.Class.Session.Email is not null)
            {
              <a asp-controller="Course" asp-action="CategoriesWithCourse">Våra Kurser</a> <a asp-controller="Student" asp-action="ShowCourses">Visa vilka kurser du valt</a>
              <p>Inloggad som @MvcUser.Class.Session.Email</p>
            }
            else
            {
               <a asp-controller="Student" asp-action="CreateStudent">Registrera dig</a>
            }
          }
        </li>
      </ul>
    </nav>
  </header>
  <main>
    @RenderBody()
  </main>
</body>

</html>