@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100;1,200&family=Roboto:wght@300;700&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'poppins', sans-serif;
  background-color: rgb(255, 255, 255);
}

main {
  padding: 3rem 2rem;
}

h2 {
  padding: 0 0 1.1rem 0;
}

th, td {
  padding: 2px 10px 2px 5px;
  text-align: left;
}

.table1 {
  position: absolute;
  left: 300px;
  top: 300px;
}

.smallerText {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.95em;
  margin: 1px 3px 7px 10px;
}